<!-- <div class="grid-frame v-align align-center">
    <div class="columns small-12 medium-8 large-4 large-centered text-center vertical grid-block" style="max-height: 17.5rem;" data-equalizer>
      <zf-accordion class="accordion">
        <zf-accordion-item title="Today's Tasks">
        Content goes here
        </zf-accordion-item>
        <zf-accordion-item title="Tomorrow's Tasks">
        Content goes here
        </zf-accordion-item>
        <zf-accordion-item title="This Week">
        Content goes here
        </zf-accordion-item>
        <zf-accordion-item title="Upcoming">
        Content goes here
        </zf-accordion-item>
      </zf-accordion>
    </div>
</div> -->

<script>
  angular.module('foundationDemoApp').controller('AccordionDemoCtrl', function($scope) {
    $scope.oneAtATime = true;

    $scope.groups = [{
        title: "Dynamic Group Header - 1",
        content: "Dynamic Group Body - 1"
    }, {
        title: "Dynamic Group Header - 2",
        content: "Dynamic Group Body - 2"
    }];

    $scope.items = ['Item 1', 'Item 2', 'Item 3'];

    $scope.addItem = function() {
        var newItemNo = $scope.items.length + 1;
        $scope.items.push('Item ' + newItemNo);
    };
  });
</script>

<div ng-controller="AccordionDemoCtrl">
  <label class="checkbox">
    <input type="checkbox" ng-model="oneAtATime">
    Open only one at a time
  </label>

  <accordion close-others="oneAtATime">
    <accordion-group heading="Static Header, initially expanded" is-open="true">
      This content is straight in the template.
    </accordion-group>
    <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
      {{group.content}}
    </accordion-group>
    <accordion-group heading="Dynamic Body Content">
      <p>The body of the accordion group grows to fit the contents</p>
        <button class="button small" ng-click="addItem()">Add Item</button>
        <div ng-repeat="item in items">{{item}}</div>
    </accordion-group>
    <accordion-group is-open="isopen">
        <accordion-heading>
            I can have markup, too!
        </accordion-heading>
        This is just some content to illustrate fancy headings.
    </accordion-group>
  </accordion>
</div>
