
<script>
  found.controller('AlertsCtrl', function($scope) {
    $scope.oneAtATime = false;

    $scope.alerts = [
      { type: 'alert', msg: 'Oh snap! Change a few things up and try submitting again.' },
      { type: 'success round', msg: 'Well done! You successfully read this important alert message.' }
    ];

    $scope.closeAlert = function(index) {
      $scope.alerts.splice(index, 1);
    };

  });
</script>

<div ng-controller="AlertsCtrl">

  <accordion close-others="oneAtATime">
    <accordion-group is-open="true">
      <accordion-heading>
        Today
     </accordion-heading>
     <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
    </accordion-group>
    <accordion-group heading="Tomorrow">
      <p>The body of the accordion group grows to fit the contents</p>
        <button class="button small" ng-click="addItem()">Add Item</button>
        <div ng-repeat="item in items">{{item}}</div>
    </accordion-group>
    <accordion-group is-open="This Week">
        <accordion-heading>
            This Week
        </accordion-heading>
        Alerts for the week will go here
    </accordion-group>
  </accordion>
</div>
