<div class="grid-frame v-align align-center">
    <div class="columns small-12 medium-8 large-4 large-centered text-center vertical grid-block" style="max-height: 17.5rem;" data-equalizer>
      <a href="/settings" class="button" data-equalizer-watch>Manage Account</a>
      <a href="/register" class="button" data-equalizer-watch>Register a new Garden</a>
      <a href="/manage" class="button" data-equalizer-watch>Manage your Garden</a>
      <a href="/alerts" class="button" data-equalizer-watch>
        <span class="alert badge">5</span>
        Alerts &amp; Todos
      </a>
    </div>
</div>
