{{#if msg}}
    <div>
        {{msg}}
    </div>
{{/if}}
<div class="grid-frame v-align align-center">
    <div class="card columns small-12 medium-8 large-4 large-centered text-center" style="max-height: 20.5rem;">
        <div class="card-divider">Log in to Smart Garden</div>
        <div class="card-section">
            <form action = '/login/submit' method = post>
                <label>
                    email
                    <input type="email" name = "email" placeholder="name@domain.com" required>
                </label>
                <label>
                    password
                    <input type="password" name = "pass" placeholder="••••••" required>
                </label>
                 <div class="button">
                <button type="submit">Submit</button>
            </div>
            </form>
            <!-- TODO: make the login actually work. Session, etc  -->
            <a href="home" class="button success">Submit</a>
        </div>
    </div>
</div>
