 <!-- NOTE: this is the view for a single garden. Routed from: /manage/:gardenId  -->

<div class="grid-frame v-align align-center">
    <div class="card columns small-12 medium-8 large-4 large-centered text-center" style="max-height: 17.5rem;">
        <div class="card-divider">Manage Your Gardens</div>
        <div class="card-section" style="background-image: url(/img/{{specific.species}}.jpg)">
          <div class="row">
            <label>
              something
              <input type="text" name="something"/>
            </label>
          </div>
        </div>
    </div>
</div>
