<div class="grid-frame v-align align-center">
    <div class="columns small-12 medium-8 large-4 large-centered text-center vertical grid-block" style="max-height: 17.5rem;" data-equalizer>
      <div class="grid-block columns large-4 small-4 small-offset-4">
        <i class="fa fa-3x fa-plus-square-o"></i>
        <label>
          Add new
          <input type="text" name="register" placeholder="Serial #" value=""/>
        </label>
      </div>
    </div>
</div>
