{{#if msg}}
    <div>
        {{msg}}
    </div>
{{/if}}
<div class="grid-frame v-align align-center">
    <div class="columns small-12 medium-8 large-4 large-centered text-center vertical grid-block card" data-equalizer>
        <div class="card-divider">
            User Settings for {{user.name}}
        </div>
        <form action ="/settings/submit" method ="post" class="card-content horizontal">

            <div class="row">
                <div class="large-8 large-offset-2 small-10 small-offset-1 columns">
                  <label>Input Label
                    <input type="email" value="{{user.email}}" />
                  </label>
                </div>
                <div class="large-8 large-offset-2 small-10 small-offset-1 columns">
                  <label>Change Password:
                    <input type="password" name = new_pass value="•••••••" />
                  </label>
                </div>
                <div class="large-8 large-offset-2 small-10 small-offset-1 columns">
                  <label>Enter new password again:
                    <input type="password" name = confirm_pass value="•••••••" />
                  </label>
                </div>
            </div>
            <div class="row">
                <div class="large-8 large-offset-2 small-10 small-offset-1 columns">
                    <label>Sample Select
                        <select>
                            <option value="husker">Husker</option>
                            <option value="starbuck">Starbuck</option>
                            <option value="hotdog">Hot Dog</option>
                            <option value="apollo">Apollo</option>
                        </select>
                    </label>
                </div>
            </div>
            <row class="text-center">
              <div class = "button">
              <button type="submit">Save Changes</button>
                </div>
            </row>


        </form>
    </div>
</div>
