<!-- Tim's addition-->
<div class="grid-frame v-align align-center">
    <div class="card columns small-12 medium-8 large-4 large-centered text-center" style="max-height: 17.5rem;">
        <div class="card-divider">Smart Garden SignUp</div>
        <div class="card-section">
            <form>
                <label>
                    username
                    <input type="email" placeholder="name@domain.com" required>
                </label>
                <label>
                    password
                    <input type="password" placeholder="••••••" required>
                </label>
                <label>
                    confirm password
                    <input type="password" placeholder="••••••" required>
                </label>
            </form>
            <!-- TODO: make the SignUp actually work. Session, etc  -->
            <a href="home" class="button success">Submit</a>
        </div>
    </div>
</div>