<div class="grid-frame v-align align-center">
    <div class="card columns small-12 medium-8 large-4 large-centered text-center" style="max-height: 50rem;">
        <div class="card-divider">Smart Garden SignUp</div>
        <div class="card-section">
            <form action ="/signup/submit" method ="post">
                <label>
                    First Name
                    <input type="text" name="firstname" placeholder="John" required>
                </label>
                <label>
                    Last Name
                    <input type="text" name="lastname" placeholder="Doe" required>
                </label>
                <label>
                    Username
                    <input type="text" name = "username" placeholder="SmartGrower99" required>
                </label>
                <label>
                    Email
                    <input type="email" name = "email" placeholder="name@domain.com" required>
                </label>
                <label>
                    Password
                    <input type="password" name  = "password" placeholder="••••••" required>
                </label>
                <label>
                    Confirm Password
                    <input type="password" name = "password"
                    placeholder="••••••" required>
                </label>
                <div class="button">
                <button type="submit">Submit</button>
            </div>
            </form>
            <!-- TODO: make the SignUp actually work. Session, etc  -->
            <a href="home" class="button success">Submit</a>
        </div>
    </div>
</div>