body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.vertical > .button {
  /*Different margin for vertical block buttons*/
    margin: .5rem;
}

.logout_button {
  display:inline; 
  padding: 50px;
}
